* {
    font-family: "Courier New", Courier, serif;
    box-sizing: border-box;
}

html {
    background-color: #6D7B8D;
}

div.wrapper {
    width: 800px;
    height: 800px;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

canvas {
    background-color: #FFFFFF;
}

div#instructions {
    font-size: 1.3em;
    color: #bdbdbd;
    font-family: sans-serif;
    text-align: center;
}

div.menu {
    position: absolute;
    color: #bdbdbd;
    font-size: 1.1em;
}

div.menu ul {
    list-style: none;
    padding-left: 15px;
}

div.menu .bright {
    color: #dbdbdb;
    font-weight: bold;
}

div.menu a {
    color: #dbdbdb;
    font-weight: bold;
    color: #dbdbdb;
}

div.menu form {
    width: 250px;
}

div.menu input[type=submit] {
    float: right;
    width: 90px;
}
