* {
    font-family: "Courier New", Courier, serif;
    box-sizing: border-box;
}

html {
    background-color: #6D7B8D;
}

div.wrapper {
    width: 800px;
    height: 800px;

    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

canvas {
    background-color: #FFFFFF;
}

div#instructions {
    font-size: 1.3em;
    color: #bdbdbd;
    font-family: sans-serif;
    text-align: center;
}

table.menu {
    position: absolute;
    color: #bdbdbd;
    font-size: 1.1em;
}

table.menu ul {
    display: inline-block;
    list-style: none;
    padding-left: 15px;
}

table.menu td {
    vertical-align: top;
    padding-right: 30px;
    width: 400px;
}

table.menu .bright {
    color: #dbdbdb;
    font-weight: bold;
}

table.menu a {
    color: #dbdbdb;
    font-weight: bold;
    color: #dbdbdb;
}

table.menu input[type=submit] {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
}

table.menu input, table.menu select {
    font-family: sans-serif;
    width: 150px;
}
